@use "../../assets/variables" as *;
/*
  Styles for EditNotePage component
*/
.EditNoteArea{
  @include media($tablet){

  }
  @include media($laptop){
    display:grid;
    grid-template-columns: 1fr 300px;
    gap:$space;
    color:red;
  }
  &-settings{
    position:absolute;
    bottom:0;
    width:95%;
    transform:translateY(100%) ;
    @include media($tablet){
      position:static;
      transform:translateY(0) ;
      margin-top:$space;

    }
    @include media($laptop){
      
      margin-top:0;

    }
  }
}