@use "../../assets/variables" as *;
/*
  Styles for Dashboard component
*/
.Dashboard{
  
}
.Content{
    @include layout($desktop);
}
.FooterDash{
  background-color: $bgDarkColorAlpha;
  backdrop-filter: blur(5px);
  padding:$space;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  display:flex;
  justify-content: flex-end;
  gap:$space;
  &-button{

  }
}
