@use "./assets/variables" as *;
// Generals

body{
    margin:0;
    color:$textColor;
    font-family: $fontText;
    background-color: $bgColor;
    @media screen AND (min-width:$laptop) {
        font-size:$mediumSpace;
    }
}
input,textarea{
    color:$textColor;
    padding:$xxSmallSpace $space;
    border-radius:100px;
    border:1px solid $textUltraLightColor;
    box-sizing:border-box;
    background-color: rgba(255, 255, 255, 0.443);
    &:focus{
      border:3px solid $textUltraLightColor;
      outline:0;
    }
}
textarea{
    border-radius:$radius;
    padding:$bigSpace;;
}
.Header{
    display:flex;
    align-items:center;
    justify-content: space-around;
    background-color: $bgDarkColor;
}
