@use "../../assets/variables" as *;
/*
  Styles for NoteCard component
*/
.NoteCard{
  background-color: $white;
  border-radius: $radius;
  padding:$mediumSpace;
  display:flex;
  flex-direction: column;
  box-shadow:$shadow;
  &.color1{
    background-color: $color1;border:1px solid $white;
    .Button{
      &:hover{
        background-color: $white;
      }
    }
  }
  &.color2{
    background-color: $color2;border:1px solid $white;
    .Button{
      &:hover{
        background-color: $white;
      }
    }
  }
  &.color3{
    background-color: $color3;border:1px solid $white;
    .Button{
      &:hover{
        background-color: $white;
      }
    }
  }
  &.color4{
    background-color: $color4;border:1px solid $white;
    .Button{
      &:hover{
        background-color: $white;
      }
    }
  }
  &.color5{
    background-color: $color5;border:1px solid $white;
    .Button{
      &:hover{
        background-color: $white;
      }
    }
  }
  &-header{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    &-title{
      font-family: $fontTitles;
      font-size:$bigSpace;
      a:link,a:visited{
        color:$textColor;
        text-decoration: none;
      }
    }
  }
  &-content{
    margin-bottom:$bigSpace;
    line-clamp: 6;
    -webkit-line-clamp: 6;
    display:-webkit-box;
    -webkit-box-orient : vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-footer{
    margin-top:auto;
    color:$textUltraLightColor;
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    &-date{
      font-size:$smallSpace;
    }
    &-manage{
      display:flex;
      gap:$xxSmallSpace;
      margin:0;
      &-button.palet{//TODO: reactiver pour gestion des couleurs
        display:none;
      }

    }
  }
  
}

.Button{
  background-color: transparent;
  box-sizing:border-box;
  border:none;
  border-radius: 100px;
  width:25px;
  height:25px;
  display: flex;
  flex-shrink:0;
  justify-content: center;
  align-items: center;
  transition:.3s;
  cursor:pointer;
  padding:0;
  &:hover{
    background-color: $bgDarkColor;
  }
  // @include media($tablet){
  //   width:30px;
  //   height:30px;
  // }
  &-img{
    width: 17px;
    // display: block;
    // height: 100%;
    // object-fit: contain;
  }
}